*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.content{
    width: 1440px;
    height: 5240px;
    top: -2620px;
    left: -720px;
}
.navbar{
    display:inline-flex; 
}
.logo a{
    width: 82px;
    height: 44px;
    top: 31px;
    left: 32px;
    font-family: Poppins,sans-serif;
    font-size: 29px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align:left;
    color: #1090bc;
}
.navdiv{
   display: flex;
   justify-content: space-between;
   justify-content: space-evenly;
   position: absolute;
   width: 436px;
   height: 24px;
   top: 20px;
   left: 778px;
}
.home a{
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    color: #1090bc;
}
.abt a{
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.serv a{
font-family: Poppins,sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
line-height: normal;
letter-spacing: 0em;
text-align: left;
color: black;
}
.blog a{
font-family: Poppins,sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
line-height: normal;
text-align: left;
color: black;
}
.btn{
    margin-top:-20px;
    left: 1285px;
    width: 125px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #1090CB; 
}
.btn a{
    color: #FFF;
    font-family: Poppins,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.rect{
    width: 1440px;
    height: 743px;
    top: 102px;
    background: rgb(228, 246, 252);
    padding-top: 5px;
}
.rect h3{
  width: 630px;
  height: 193px;
  margin-top: 90px;
  margin-left: 80px;
  color: #000;
font-family: Poppins,sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height:  150%;

}
 .rect h3 span{
    color: #1090CB;
    font-family: Poppins,sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height:  150%;
}   
.content p{
    width: 613px;
    height: 125px;
    margin-left:80px;
    color: #5C5C5C;
font-family: Poppins,sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 204.3%;

}
.btn1{
width: 193px;
height: 51px;
margin-top: 100px;
margin-left: 80px;
border-radius: 10px;
background: #1090CB;
}
.btn1 a{
    color: #FFF;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.3%;
}
.btn2{
width: 193px;
height: 51px;
border-radius: 10px;
border: 1px solid #1090CB;
background: #FFF;
}
.btn2 a{
color: #1090CB;
font-family: Poppins,sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 204.3%;
}
.content .rect .image{
    vertical-align: top;
    float: right;
    position:relative;
    width: 600px;
    top: -150px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    width: 266px;
    height: 83px;
    margin-top: 83px;
    margin-left: 80px;
    border-radius: 20px;
}
.seo{
    width: 267px;
    height: 83px;
    top: 883px;
    margin-left: 80px;
    border-radius: 20px;
}
.arvr{
    width: 267px;
    height: 83px;
    top: 883px;
    margin-left:80px;
    border-radius: 20px;
}
.mob{
width: 298px;
height: 83px;
top: 883px;
margin-left: 80px;
border-radius: 20px;
}
